.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;
    width: 99%;
    margin: 10px auto;
    background: linear-gradient(135deg, #1a1a1a, #252525);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(9, 246, 242, 0.507);
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(9, 246, 214);
    text-shadow: 0 0 5px #00ffcc;
  }
  
  .navList {
    display: flex;            
    gap: 20px;                
    list-style: none;         
    padding: 0;
    margin: 0;
  }
  
  .navList li {
    transition: transform 0.2s ease-in-out;
  }
  
  .navList li:hover {
    transform: scale(1.2);    
  }